<p>
  <strong><%= current_starship.name %></strong>
</p>

<p>
<% if current_starship.travel %>
  In Hyperspace
<% else %>
  Position: <%= current_starship.starsystem.name %>
<% end %>
  | <%= Time.zone.now %>
</p>
