html {
  background:#222;
  font-family:verdana, arial, helvetica, sans-serif;
  margin:auto;
  width:700px;
}

body {
  background:url(/images/bg.png);
  color:white;
  height:500px;
  margin:0;
}

a {
  color:#00f;
}

#new_user_session {
  background:url(/images/login_bg.png);
  border-bottom:1px solid #555;
  color:black;
  height:27px;
  width:700px;
}

#new_user_session p {
  float:right;
  font-size:10px;
  margin-bottom:5px;
  margin-right:2px;
  margin-top:5px;
}

#new_user_session input {
  border-bottom-width:1px;
  border-left-width:1px;
  border-top-width:1px;
  font-size:10px;
  height:14px;
  padding-bottom:0;
  width:100px;
}

.submit, #new_user_session input.submit {
  background-color:#f0f0f0;
  border:1px solid gray;
  color:#000;
  font-size:10px;
  height:16px;
  margin-top:3px;
  margin-right:10px;
  padding-bottom:1px;
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 2px;
  text-decoration:none;
  width:50px;
}

#welcome_blurb {
  clear:both;
  margin-left:200px;
  margin-top:150px;
}

#sign_up {
  background:url(/images/sign_up.png) no-repeat;
  border:0;
  color:white;
  display:block;
  margin-left:250px;
  margin-top:70px;
  padding-bottom:25px;
  padding-left:20px;
  padding-top:10px;
  text-decoration:none;
  width:100px;
}

#sign_up_page {
  background:url(/images/login_bg.png);
  border-right:1px solid #fff;
  border-bottom:1px solid #555;
  color:black;
  height:400px;
  margin-top:50px;
  margin-left:20px;
  padding-left:20px;
  width:200px;
}

#sign_up_page #sign_up {
  font-size:16px;
  margin:0;
  padding-left:0;
  width:120px;
}
